body {
    background: url("../img2.png") no-repeat center top fixed;
    padding-top: 56px;
    background-color: red;
}

.change_color {
    color: red;
    text-align: center;
    margin: 0 auto;

}
.text {
    font-size: 90px;
}