{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
</head>
<body>
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="card h-100">
        
        <a href="#">
        
        <img class="card-img-top"
        
        src="{% static 'vendor/img/products/Brown-sports-oversized-top-ASOS-DESIGN.png' %}"
        
        alt="">
        
        </a>
        
        <div class="card-body">
        
        <h4 class="card-title">
        
        <a href="#">Коричневый спортивный oversized-топ ASOS DESIGN</a>
        
        </h4>
        
        <h5>3 390,00 руб.</h5>
        
        <p class="card-text">Материал с плюшевой текстурой. Удобный и мягкий.</p>
        
        </div>
        
        <div class="card-footer text-center">
        
        <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
        
        </div>
        
        </div>
        
        </div>
</body>
</html>
