<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app01/plugins/bootstrap-3.4.1/css/bootstrap.css' %}">

</head>
<body>
    <h1>User List</h1>
    <img src="{% static 'app01/img/girl.jpg' %}" alt="" width="500px">

    <input type="text" class="btn btn-primary" value="新建" />


    <script src="{% static 'app01/js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'app01/plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>
</body>
</html>